h2 { 
  width:100%; 
  text-align:center; 
  border-bottom: 5px solid gray; 
  line-height:0.1em; 
  margin:10px 0 20px;
} 
h2 span { 
  background:#fff; 
  padding:0 10px; 
}
.col {
  text-align: center;
  width: 100%;
  margin: auto;
  padding: 0 50px;
  margin-top: 6px;
  justify-content: space-around;
}
.col li{
  margin:10px;
}
.col a{
  width: 90%;
}
.fb {
  background-color: #3B5998;
  color: white;
}
.github{
  background-color:black;
  color:white;
}
.github-li :hover{
  background-color:darkgray;
}
.linkedin{
  background-color:lightblue;
  color:blue;
}
.linkedin-li p:hover{
  color:black;
}
.linkedin-li i:hover{
  color:black
}
.google{
  background-color:white;
  color:black;
  border:1px solid gray;
}
.google-li :hover{
  background-color:darkgray;
  color:white;
}

/* .form-group input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
} */

@media screen and (max-width: 650px) {
  .col {
    width: 100%;
    margin-top: 0;
  }
}