@import url('https://fonts.googleapis.com/css2?family=Karla&family=Caveat&display=swap');

.contact-label {
    font-family: "Karla", sans-serif;
    letter-spacing: 1px
}

::placeholder{
    font-family: "Karla", sans-serif;
    letter-spacing: 1px;
}

.logo{
  border-radius: 100%;
  width: 50px;
}

.nav-link {
    /* width: 120px !important; */
    font-size: 18px;
    letter-spacing: 1;
    font-family:  "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: rgb(1, 88, 251);
}

.navbar-brand {
    /* font-family: "Caveat", cursive; */
    font-size: 25px;
    /* letter-spacing: 1px; */
    text-decoration: none;
}
.color-wt{
	color: white;
}
