* {
  font-family: 'poppins', sans-serif;
}

.contain {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}

.maintainers h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  height: 15rem;
  width: 15rem;
  border: none;
}
.margin-bottom {
  margin-bottom: 10rem;
}
.card-img-top {
  border-radius: 11rem;
}
.card-text {
  font-size: 22px;
}
.card-text label {
  font-size: 18px;
}
.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

/* margin above second contianer */

.topmargin {
  margin-top: 15rem;
}
/*footer component css*/
.footerclass {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#footer {
  clear: both;
  position: relative;
  bottom: 0;
  margin-top: 200px;
}
