

*{
    font-family:'poppins', sans-serif;
}


.maintainers h2{
    margin-top:2rem;
    margin-bottom:2rem;
    text-align:center;
}

.card{
    height:15rem;
    width:15rem;
    border:none;
}
.card-img-top{
    border-radius:11rem;

}
.card-text{
    font-size:22px;
}
.card-text label{
    font-size:18px;
}

/* margin above second contianer */

.topmargin{
    margin-top:15rem;
}
/*footer component css */

.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
}