* {
	font-family: 'poppins', sans-serif;
}

.contain {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
}

.maintainers h2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
	text-align: center;
}

.card {
	height: 15rem;
	width: 15rem;
	border: none;
}

.margin {
	margin-bottom: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.card-url,
.card-url:hover {
	text-decoration: none;
	color: black;
}

.card-img-top {
	border-radius: 11rem;
	-webkit-box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.53);
	-moz-box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.53);
	box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.53);
}

.card-img-top:hover {
	-webkit-box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.8);
	box-shadow: 47px 49px 95px -55px rgba(0, 0, 0, 0.8);
	transition: 0.2s;
}

.card-text {
	font-size: 22px;
}

.card-text label {
	font-size: 18px;
}

.bold {
	font-weight: bold;
}

.italic {
	font-style: italic;
}

/* margin above second contianer */

.topmargin {
	margin-top: 15rem;
}
/*footer component css*/
.footerclass {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
#footer {
	clear: both;
	position: relative;
	bottom: 0;
	margin-top: 200px;
}
