img{
height: 500px;
width: 600px;
}
.box{
float: right;
margin-right:-50px;
margin-top: -100px;
}
.container{
margin: 200px 100px;
}
.content{
font-size: 24px;
color: grey;
}
.line{
border-top: 2px solid rgb(199, 198, 198);
flex-grow: 0.50;
}
.line1{
border-top: 2px solid rgb(199, 198, 198);
flex-grow: 0.30;   
}
.wrapper{
display: flex;
align-items: center;
font-size: 48px;
line-height:100px;
}
.wrapper1{
display: flex;
align-items: center;
font-size: 24px;
line-height:100px;
}
.button{
padding: 15px 32px;
text-align: center;
font-size: 48px;
animation:colorchange 3s infinite alternate;
}
@keyframes colorchange{
    20%{  color:blue; }
    40%{  color:green;}
    60%{  color:red;  }
    80%{  color:black;}
}
.button1{
padding: 15px 32px;
}
@media (max-width:991px) and (min-width:768px){
img{
height: 200px;
width: 300px;
}
.box{
margin-right:-50px;
margin-top: 100px;
}
}
@media (max-width:767px)
{
.content{
font-size: 18px;
}
img{
height: 300px;
width: 300px;
}
.box{
margin-right:-50px;
margin-top: 110px;    
}
.button1{
padding: 10px 24px;
line-height: 20px;
border: 2px solid black;
}
.button{
color: black;
text-align: center;
font-size: 20px;
padding: 10px 24px;
} 
}